body{
    color: chartreuse;
}
.search-result{
    border: 2px solid darkcyan;
    
    border-radius: 20px;
    box-shadow: 5px 15px 20px gray;
    background-image: linear-gradient(45deg,rgb(224, 237, 241),rgb(187, 207, 206));
}

#spinner {
    display: none;
}
#error-handling{
    color :red;



    text-align: center;
    display: none;
}.icon{
    width: 25px;
    color: floralwhite;
}
.details{
    width: 50px;
    color: floralwhite;
}
