


/* extra addes style in external css file */

#spinner {
    display: none;
}
#error-handling{
    color :red;
    font-style:oblique;



    text-align: center;
    display: none;
}.icon{
    width: 25px;
    color: floralwhite;
}
.details{
    width: 50px;
    color: floralwhite;
}
.mark-style{
    font-style: italic;
}